In [1]:
import pandas as pd
import numpy as np







filename = "/Users/peekaboo645/Desktop/home 240/home240_hall2226_sensor14265_gas-pulse_gas.csv"

# Read the data from the CSV file
data2 = pd.read_csv(filename, header=None)

data2.head()
data2.columns = ['datetime', 'gas']

In [2]:
data2['datetime'] = pd.to_datetime(data2['datetime'])

In [3]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50053 entries, 0 to 50052
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  50053 non-null  datetime64[ns]
 1   gas       50053 non-null  int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 782.2 KB

In [4]:
# calculate the time difference between consecutive rows
data2['time_diff'] = data2['datetime'].diff().dt.seconds

In [5]:
data2['gas'] = (data2['gas'] - 112)

In [6]:
data2

                 datetime  gas  time_diff
0     2017-11-06 10:37:05    0        NaN
1     2017-11-06 10:37:17    0       12.0
2     2017-11-06 10:37:30    0       13.0
3     2017-11-06 10:37:44    0       14.0
4     2017-11-06 10:37:59    0       15.0
...                   ...  ...        ...
50048 2018-06-30 18:44:04    0     1286.0
50049 2018-06-30 18:49:09    0      305.0
50050 2018-06-30 18:53:08    0      239.0
50051 2018-06-30 18:55:32    0      144.0
50052 2018-06-30 18:58:00    0      148.0

[50053 rows x 3 columns]

In [7]:
daily = data2.resample('D', on='datetime').sum()

In [8]:
daily

             gas  time_diff
datetime
2017-11-06   778    30817.0
2017-11-07   333    97768.0
2017-11-08   777    86109.0
2017-11-09   333    73878.0
2017-11-10  6014    88234.0
...          ...        ...
2018-06-26   444    86413.0
2018-06-27   111    81920.0
2018-06-28     0   103705.0
2018-06-29   111    63603.0
2018-06-30   334    93026.0

[237 rows x 2 columns]

In [ ]:

daily['gas'].plot(kind='line', figsize=(8, 4), title='gas')
plt.gca().spines[['top', 'right']].set_visible(False)

In [ ]:
daily.info()

In [ ]:
daily