In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/master_data_electricity.csv')

In [5]:
df

         datetime  Consumption (kWh)  homeid
0      2018-02-21           3.725250     299
1      2018-02-22           3.692155     299
2      2018-02-23           3.922362     299
3      2018-02-24           4.658932     299
4      2018-02-27           3.894231     299
...           ...                ...     ...
55274  2018-06-24          15.034794     280
55275  2018-06-25          11.688886     280
55276  2018-06-26          11.550507     280
55277  2018-06-29          10.084057     280
55278  2018-06-30           8.060609     280

[55279 rows x 3 columns]